In [1]:
import pandas as pd
import numpy as np
import os

In [7]:
df = pd.read_excel(r'/Users/shirwetelfeel/Desktop/Data analysis /tasks/Data immersion/Achievment 6/Raw data/Furniture Superstore copy.xlsx')
print(df)

                      Order ID Order Date            Ship Date  \
0      AE-2018-EB4110138-41926 2018-10-14  2018-10-14 00:00:00
1      IN-2017-TS2134092-41219 2017-11-06  2017-11-08 00:00:00
2      IN-2017-MB1808592-41378 2017-04-14  2017-04-18 00:00:00
3        AG-2018-CL25653-42164 2018-06-09  2018-06-13 00:00:00
4     CA-2017-AB10015140-40974 2017-03-06  2017-03-07 00:00:00
...                        ...        ...                  ...
7461  ES-2017-BC11125120-41010 2017-04-11  2017-04-15 00:00:00
7462  ZA-2018-TA11385146-41692 2018-02-22  2018-02-27 00:00:00
7463  ZA-2018-TA11385146-41692 2018-02-22  2018-02-27 00:00:00
7464  CA-2017-JA15970140-41224 2017-11-11  2017-11-15 00:00:00
7465  ZA-2018-TS11205146-42062 2018-02-27  2018-03-03 00:00:00

           Ship Mode   Customer ID   Customer Name      Segment  \
0           Same Day    EB-4110138  Eugene Barchas     Consumer
1        First Class    TS-2134092   Toby Swindell     Consumer
2     Standard Class    MB-1808592      Mick Brown     Consumer
3     Standard Class      CL-25653     Clay Ludtke     Consumer
4        First Class  AB-100151404   Aaron Bergman     Consumer
...              ...           ...             ...          ...
7461    Second Class   BC-11125120   Becky Castell  Home Office
7462  Standard Class   TA-11385146    Tom Ashbrook  Home Office
7463  Standard Class   TA-11385146    Tom Ashbrook  Home Office
7464  Standard Class  JA-159701404    Joseph Airdo     Consumer
7465    Second Class   TS-11205146     Thomas Seio    Corporate

                City             State               Country  ...     Sales  \
0     Ras al Khaymah   Ra's Al Khaymah  United Arab Emirates  ...   224.748
1            Porirua        Wellington           New Zealand  ...  1822.080
2           Hamilton           Waikato           New Zealand  ...  5244.840
3              Saida             Saida               Algeria  ...   516.000
4            Seattle        Washington         United States  ...    48.712
...              ...               ...                   ...  ...       ...
7461      Ponferrada  Castile and León                 Spain  ...    65.784
7462          Lusaka            Lusaka                Zambia  ...  1743.960
7463          Lusaka            Lusaka                Zambia  ...   249.720
7464     Los Angeles        California         United States  ...   629.220
7465           Ndola        Copperbelt                Zambia  ...   337.920

     Quantity Discount    Profit Shipping Cost  Order Priority  \
0           6      0.7 -232.2720         60.08            High
1           4      0.0  564.8400        894.77        Critical
2           6      0.0  996.4800        878.38            High
3           4      0.0   61.9200         46.75            High
4           1      0.2    5.4801         11.13            High
...       ...      ...       ...           ...             ...
7461        1      0.2   18.8940          5.51          Medium
7462        4      0.0  714.9600        124.45            High
7463        2      0.0   97.3800         12.46            High
7464        3      0.2   31.4532         65.97            High
7465        4      0.0   16.8000         49.16          Medium

      IsFirstShopping  Rating  Customer Referrals  Complaint
0                   0       4                  18          0
1                   0       5                   0          0
2                   0       4                   0          0
3                   0       4                   0          0
4                   1       4                   4          0
...               ...     ...                 ...        ...
7461                1       3                   4          0
7462                0       4                   0          0
7463                1       4                   0          0
7464                0       4                   4          0
7465                0       3                   0          0

[7466 rows x 25 columns]

In [13]:
df.tail(10)

Empty DataFrame
Columns: [Order ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, City, State, Country, Region, Market, Product ID, Sub-Category, Product Name, Sales, Quantity, Discount, Profit, Shipping Cost, Order Priority, IsFirstShopping, Rating, Customer Referrals, Complaint]
Index: []

[0 rows x 25 columns]